{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "70"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
