.adherents-container {
    padding: 0 !important;
}

.table-container {
    max-height: 70vh;
}

.MuiTypography-root,
.MuiInputBase-root {
    font-family: 'Poppins', sans-serif !important;
    font-style: 13px !important;
    color: #4B5563 !important;
}
