body{
    background-color: $greyCornerBg;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    z-index: 50;

    &.active {
        margin-left: -17rem;
    }
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;

    &.active {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;

        &.active {
            margin-left: 0;
        }
    }

    .page-content {
        width: 100%;
        margin-left: 0;

        &.active {
            width: calc(100% - 17rem);
            margin-left: 17rem;
        }
    }
}

ul {
    list-style: none;
}
