body {
    color: #1A334D;
    background-color: $greyCornerBg;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;
    z-index: 50;
    @include boxShadow(0 1px 1px 0 rgba(0, 11, 52, 0.12));

    &.active {
        margin-left: -17rem;
    }
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
    margin-top: 1rem;

    &.active {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;

        &.active {
            margin-left: 0;
        }
    }

    .page-content {
        width: 100%;
        margin-left: 0;

        &.active {
            width: calc(100% - 17rem);
            margin-left: 17rem;
        }
    }
}

ul {
    list-style: none;
}
