.contacts-container {
    padding: 0 !important;

    .filters-block-container {
        margin-bottom: 16px;
        padding: 16px;
    }

    .contacts-mui-table {
        overflow-x: hidden;
    }

    .contacts-select {
        margin-right: 16px;
        min-width: 120px;
        max-width: 300px;
    }
}
