.with-background {
    background-color: $whiteCorner !important;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: $greyCorner3;
}

.zone-name-title {
    font-weight: 600;
}

.left-chart {
    padding-left: 0;
    padding-right: 0;
}

.right-chart {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 992px) {
    .left-chart {
        padding-right: 16px;
    }
}
