.dashboard-container {
    padding: 0;
}

.with-background {
    background-color: $whiteCorner !important;
}



@media(min-width: 992px) {
    .left-chart {
        padding-left: 0;
        padding-right: 8px;
    }
    
    .right-chart {
        padding-left: 8px;
        padding-right: 0;
    }

    .map-col {
        padding: 0;
    }
}
