.map-container {
  width: 100%;
  height: 85vh;
}

#map-overlay {
  font-family: "Poppins", sans-serif;
  color: $blackCorner;
  background: $whiteCorner;
  position: absolute;
  z-index: 1;
  max-height: 730px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 330px;
  top: 8px;
  right: 8px;
  @include borderRadius(6px);

  .elections-title {
    color: $blueCorner;
    font-size: 22px;
    font-weight: 600;
    padding: 32px;
  }

  #close-modal {
    position: absolute;
    font-size: 18px;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .flash-info {
    background-color: $greyCornerBg;
    padding: 32px;
    margin-bottom: 32px;

    .flash-div:first-child {
      margin-bottom: 16px;
    }

    .flash-div {
      font-size: 16px;
      font-weight: 400;

      .flash-span {
        font-weight: 600;
      }
    }
  }
}
