.map-container {
    width: 100%;
    height: 100vh;
}

.mapboxgl-popup-content {
  width: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.elections-table,
.elections-title {
  font-family: "Poppins", sans-serif;

}

.elections-title {
  text-align: center;
  margin: 16px 0;
  font-size: 22px;
  font-weight: 600;
  color: $blueCorner;
}

.elections-table {
  th {
    border: none;
  }
}
