.filters-block-container {
    margin-bottom: 16px;
    padding: 16px;

    .filter-basic-style {
        margin-right: 16px;
        min-width: 120px;
        max-width: 300px;
    }

    .select-factory:last-of-type {
        margin-top: 16px;
    }

    .select-factory {
        @media (min-width: 600px) {
            margin-top: 16px;
        }
    }

    .button-filter {
        color: $whiteCorner;
        background: $blueCorner;
        margin-top: 16px;
        display: block;

        &:hover {
            background: $blueCornerHover;

        }
    }
}
