.filters-block-container {
    margin: 16px 0;

    .filter-basic-style {
        height: 39px;
        background: $whiteCorner;
        @include borderRadius(8px);
    }

    .MuiFormControl-root {
        width: 100%;
    }

    .MuiOutlinedInput-notchedOutline {
        border: none;
    }

    .MuiInputBase-input,
    #simple-select {
        font-weight: 400;
        font-size: 14px;
    }
    
    .MuiInputLabel-shrink {
        display: none;
    } 

    .MuiSelect-select:focus {
        background: $whiteCorner;
        @include borderRadius(8px);
    }

    .button-filter,
    .reset-adherents-filters {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
    }

    .button-filter {
        color: $whiteCorner;
        background: $blackButton;
        margin-right: 16px;
        @include borderRadius(8px);

        &:hover {
            background: #5C5D5F;
        }
    }

    .reset-adherents-filters {
        color: $blackButton;
        border: 1px solid $blackButton;
        @include borderRadius(8px);
    }
}
