.filters-block-container {
    margin: 16px 0;

    .filter-basic-style {
        height: 39px;
        background: $whiteCorner;
        @include borderRadius(8px);
    }

    .MuiFormControl-root {
        width: 100%;
    }

    .MuiOutlinedInput-notchedOutline {
        border: none;
    }

    .MuiInputBase-input,
    #simple-select {
        font-weight: 400;
        font-size: 14px;
    }

    .MuiSelect-select:focus {
        background: $whiteCorner;
        @include borderRadius(8px);
    }

    .button-filter {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        color: $whiteCorner;
        background: $blackButton;
        display: block;
        @include borderRadius(8px);

        &:hover {
            background: #5C5D5F;
        }
    }
}
