#globalFilter {
    color: $greyCorner3;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    margin-right: 10px;
    width: 354px;
    height: 38px;
    background-color: $whiteCorner;
    @include borderRadius(6px);


    @media (max-width: 882px) {
        margin-bottom: 16px;
    }
}
