.interests-badge {
    color: $blueCorner;
    font-weight: normal;
    background-color: $greyCornerBg;
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;

    @include borderRadius(6px);
}
