.email-card-container {
    
    &:last-child {
        margin-bottom: 16px;
    }
    
    // Small cards for email campaigns
    .little-card {
        padding: 16px;

        // big figure at top of little card
        .main-info {
            font-size: 40px;
            font-weight: 600;
            text-align: left;
            color: $blueCorner;
        }
        // Main text below main-info
        .main-text {
            font-size: 16px;
            font-weight: 600;
            color: $blackCorner;
        }
        // Secondary text below main-text
        .secondary-text {
            font-size: 12px;
            font-weight: 400;
            color: $greyCorner3;
        }
    }   
}
