.page-title {
    font-size: 28px;
    font-weight: 600;
}

.mail-button-container {
    display: flex;
    justify-content: flex-end;

    .button-link {
        margin-top: 6px;

        .messagerie-mail-button {
            font-size: 14px;
            font-weight: 600;
            color: $blue2Corner;
            background-color: $whiteCorner;
            padding: 4px 16px;
            border: none;
            border-radius: 79px;

            @include boxShadow(0 1px 1px 0 rgba(0, 11, 52, 0.12));

            .button-text {
                margin-right: 8px;
            }

            @media (max-width: 430px) {
                margin-bottom: 16px;
            }
        }
    }
}

.messagerie-kpi {
    background-color: rgba(19, 92, 235, 0.05);
    margin-bottom: 16px;

    @include borderRadius(6px);

    .kpi-title {
        color: $blackCorner;
        font-size: 20px;
        font-weight: 600;
        margin: 16px;
    }

    .kpi-component {
        padding: 0 32px;
    }
}

.campaign-list-title {
    color: $blackCorner;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
}
