#page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
    margin-top: 1rem;
    padding: 0 16px;

    &.active {
        width: 100%;
        margin-left: 0;
    }

    #sidebar-collapse-button {
        color: $greyCorner3;
        background-color: $whiteCorner;
        height: 34px;
        width: 40px;
        vertical-align: text-bottom;
        border: none;
        margin-right: 16px;
    }

    .page-title {
        font-size: 32px;
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    #page-content {
        width: 100%;
        margin-left: 0;

        &.active {
            width: calc(100% - 17rem);
            margin-left: 17rem;
        }
    }
}
