.header-row {
    #sidebar-collapse {
        color: $greyCorner3;
        background-color: $whiteCorner;
        height: 34px;
        width: 87px;
        vertical-align: text-bottom;
        border: none;

        i {
            vertical-align: middle;
        }

        .menu-text {
            font-size: 12px;
            font-weight: 600;
            vertical-align: text-bottom;
        }
    }

    .page-title {
        font-size: 32px;
        font-weight: 600;
    }

    .welcome-message {
        font-size: 14px;
        font-weight: 500;
    }
}
