.header-row {
    #sidebar-collapse {
        color: $greyCorner3;
        background-color: $whiteCorner;
        height: 34px;
        width: 40px;
        vertical-align: text-bottom;
        border: none;

        i {
            vertical-align: middle;
        }

        .menu-text {
            font-size: 12px;
            font-weight: 600;
            vertical-align: text-bottom;
        }
    }

    .page-title {
        font-size: 32px;
        font-weight: 600;
    }

    // Dropdown to display user and his roles
    .dropdown {      
        .dropdown-toggle {
            text-align: left;
            padding: 16px;
            width: 268px;
            border: 1px solid rgba(26, 51, 77, 0.1);
            @include borderRadius(6px);

            &::after {
                display: none;
            }

            &:hover {
                background-color: $whiteCorner;
                border: 1px solid $whiteCorner;
                @include borderRadius(6px);
                border: 1px solid rgba(19, 92, 235, 0.25);
    
            }

            .profile-id {
                font-size: 14px;
                font-weight: 600;
            }
            .profile-info {
                font-size: 10px;
                font-weight: 400;
                color: $greyCornerProfile;
            }

            .caret-dropdown {
                margin-left: 77px;
                vertical-align: 11px;
            }
        }

        .dropdown-menu {
            width: 268px ;
            border: 1px solid rgba(19, 92, 235, 0.25);
            padding: 16px 16px 8px;

            .dropdown-item {
                padding: 8px 16px;
                margin-bottom: 8px;
                width: 236px;
                background-color: #F7F9FC;
                @include borderRadius(6px);
            }

            .dropdown-item:last-child {
                padding-left: 14px;
            }

            .profile-role {
                color: $blackCorner;
                font-size: 14px;
                font-weight: 400;
            }

            .profile-place {
                color: $blackCorner;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }

    .show {
        background-color: $whiteCorner;
        @include borderRadius(6px);
    }
}
