.headerRow {
    #sidebarCollapse {
        color: $greyCorner3;
        background-color: $whiteCorner;
        height: 34px;
        width: 87px;
        border: none;
        @include borderRadius(6px);
    }

    .menuText,
    .pageTitle,
    .welcomeMessage {
        font-family: "Poppins", sans-serif;
    }
    .menuText {
        font-size: 12px;
        font-weight: 600;
        vertical-align: text-bottom;
    }

    .pageTitle {
        font-size: 32px;
        font-weight: 600;
    }

    .welcomeMessage {
        font-size: 14px;
        font-weight: 500;
    }
}
