.MuiMenuItem-root {
    &:first-child {
        width: 230px !important;
    }

    &:not(:first-child) {
        padding: 0 !important;
    }

    &:not(:last-child) {
        margin-bottom: 8px !important;
    }
}
