.scopes-page-container {
    height: 400px;
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
    background-color: $blue2Corner;

    .logo-title-container {
        display: flex;
        justify-content: center;
        padding-top: 107px;
        margin-bottom: 13px;

        .page-logo {
            margin-right: 4px;
            width: 30px;
            height: 45px;
        }

        .page-title {
            color: $whiteCorner;
            font-size: 30px;
            font-weight: 600;
        }

        .beta {
            color: $whiteCorner;
            font-size: 10px;
            font-weight: 600;
            background-color: $blackCorner;
            padding: 1px 3px 0;
            margin: 6px 0 27px 5px;

            @include borderRadius(4px);
        }

        @media (min-width: 992px) {
            .page-logo {
                width: 48px;
                margin-top: 12px;
            }

            .page-title {
                font-size: 48px;
            }

            .beta {
                font-size: 16px;
                height: 26px;
                padding: 2px 3px 0;
                margin-left: 10px;
            }
        }
    }

    .main-scope-card {
        margin: 0 auto 84px;
        padding: 16px;
        border: 1px solid #D5E0EC;
        max-width: 250px;

        @include borderRadius(6px);

        .main-card-title {
            font-size: 14px;
            font-weight: 600;
            color: $whiteCorner;
            margin: 0;
            padding: 0;
        }

        .main-card-role {
            font-size: 10px;
            font-weight: 400;
            color: $whiteCorner;
            padding: 0;
        }
    }

    .secondary-scope-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .secondary-card {
            width: 250px;
            height: 110px;
            padding: 16px;
            margin-bottom: 16px;
            background-color: $whiteCorner;
            cursor: pointer;
            text-decoration: none;

            @include borderRadius(6px);

            .role {
                font-size: 28px;
                font-weight: 600;
                color: $blue2Corner;
            }

            .zone {
                font-size: 16px;
                font-weight: 600;
                color: $blackCorner;
            }

            @media (min-width: 600px) {
                &:not(odd) {
                    margin-right: 16px;
                }
            }
        }
    }
}
