// Big size cards
.big-card {
    margin-bottom: 16px;

    .title-row {
        padding: 0 16px;

        .headline {
            color: $blackCorner;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
        }

        .subtitle-text-card {
            color: $grayCorner3;
            font-size: 12px;
            font-weight: 400;
            margin: 0;
        }
    }

    .flash-card-row {
        padding: 16px;

        .flash-card {
            &:not(:last-child) {
                padding-right: 8px;
            }

            .flash-card-item {
                padding: 16px 16px 16px 0;

                @include borderRadius(6px);

                .info-number {
                    color: $blueCorner;
                    font-size: 16px;
                    font-weight: 600;
                }

                .parenthese-info {
                    font-weight: 400;
                    color: $grayCorner3;
                    margin-left: 2px;
                }

                .text-below-info-number {
                    font-size: 12px;
                    font-weight: 400;
                    color: $grayCorner3;
                }

                @media (min-width: 768px) {
                    border: solid 1px $grayCornerBg;
                    padding-left: 16px;
                }
            }
        }
    }
}
