#sidebar {
    background-color: #f9f9f9;

    .logo-container {
        display: flex;
        margin: 24px 16px 24px 32px;

        .bar-chart-logo {
            color: $blue2Corner;
            margin-right: 2px;
        }

        .logo-text {
            color: $blackCorner;
            font-size: 20px;
            font-weight: 600;
        }

        .beta-bubble {
            color: $blackCorner;
            text-transform: uppercase;
            font-size: 8px;
            height: 12px;
            font-weight: 500;
            background-color: $blueBubble;
            margin-left: 2px;
            padding: 1px 3px;
            @include borderRadius(4px);
        }
    }

    #main-nav {
        margin: 56px 0 0 32px;
        padding: 0;

        li {
            font-weight: 600;
            font-size: 14px;
            padding: 13px 0 11px;
            margin-bottom: 16px;

            a.nav-link {
                padding: 0;
                color: $greyCorner3;

                &.active {
                    color: $blueCorner;
                }

                i {
                    margin-right: 15px;
                    font-size: 20px;
                    vertical-align: middle;
                }
            }
        }
    }
}
