// Sidebar
#sidebar {
    background-color: #f9f9f9;
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    // Sidebar icons
    .fa-th-large {
        margin-right: 14px;
    }

    .fa-users {
        margin-right: 14px;
        font-size: 15px;
    }

    .fa-paper-plane {
        margin-right: 14px;
    }

    span,
    i {
        color: $greyCorner3;
    }

    // Style when nav item is active
    .selected i,
    .selected span {
        color: $blueCorner;
        font-weight: 600;
    }
}

// Style for logo
#data {
    color: $blueCorner;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}

#corner {
    color: $blackCorner;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}
