#sidebar {
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;

    .logo-container {
        text-align: center;
        margin: 24px 0 16px;

        #data {
            color: $blueCorner;
            font-style: italic;
            font-size: 24px;
            line-height: 36px;
            font-weight: 300;
            margin-bottom: 0;
        }

        #corner {
            color: $blackCorner;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            line-height: 36px;
        }
    }

    ul {
        margin: 56px 0 0 32px;
        padding: 0;

        li {
            font-weight: 600;
            font-size: 14px;
            padding: 13px 0 11px;
            margin-bottom: 16px;

            a.nav-link {
                padding: 0;
                color: $greyCorner3;

                &.active {
                    color: $blueCorner;
                }

                i {
                    margin-right: 15px;
                    font-size: 20px;
                    vertical-align: middle;
                }
            }
        }
    }
}
