//****************************
// Style for filters
//****************************

// "Réinitialiser les filtres" bouton
/* #filter-button {
    color: $blueCorner;
    height: 38px;
    background-color: $whiteCorner;
    overflow: hidden;

    span {
        margin-right: 10px;
    }
}

// Style for download button and select to choose the number of lines in table
#download-button,
.line-count {
    color: $blueCorner;
    background-color: $whiteCorner;
    height: 38px;
}


//**************************
// Style for table
//**************************

// Style for table
.contacts-table {
    background-color: $whiteCorner;
    @include borderRadius(6px);

    th {
        font-size: 12px;
        text-align: center;
        border: none !important;

        input,
        select {
            min-width: 7rem;
        }

        &:last-child {
            min-width: 30rem;
        }
    }

    td {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        max-width: 20rem;
        vertical-align: middle !important;
        border-top: 1px solid $greyCornerBg !important;

        span {
            margin-left: 12px;
        }
    }

    // Cancel the 12 px margin-left apply to all others span (cf line 43)
    tr > td:last-child span {
        margin-left: 0;
    }
}

.bottom-container {
    font-size: 14px;
}

.page-size {
    color: $blueCorner;
}

.contacts-count {
    font-size: 14px;
    font-weight: 600;
}

@media (min-width: 992px) {
    .contacts-count {
    position: absolute;
    right: 16px 
    }
}


// Pages and contacts count
.contacts-count,
.page-count-bottom {
    color: $greyCorner3;
}

// Navigation buttons below the table
.pageNav {
    button {
        color: $greyCorner3;
        height: 34px;
        background-color: $whiteCorner;
    }
}
*/
