.adherents-mui-table {
    overflow-x: auto;
    overflow-y: hidden;
}

.interests-bubble {
    background-color: $interestsBubble;
    padding: 1px 8px;
    color: $blueCorner;

    @include borderRadius(16px);

    &:not(:last-child) {
        margin-right: 4px;
    }
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}

.table-container {
    @include borderRadius(12px);
}

.MuiTableCell-root {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px !important;
}

.MuiTableCell-stickyHeader {
    background: $whiteCorner !important;
}

.MuiTableRow-hover {
    &:hover {
        background: #F9FAFB !important;
    }
}

.MuiTableCell-head {
    font-weight: 600 !important;
    color: $gray800 !important;
    min-width: 110px !important;
}
