//**************************
// Style for table
//**************************

// Global style for Table container
.tableContainer {
    overflow: scroll;
    font-family: "Poppins", sans-serif;
}

// Style for table
.table {
    @include borderRadius(6px);
    background-color: $whiteCorner;

    th {
        font-size: 12px;
        text-align: center;
        border: none !important;

        input,
        select {
            min-width: 7rem;
        }

        &:last-child {
            min-width: 30rem;
        }
    }

    td {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        max-width: 20rem;
        vertical-align: middle !important;
        border-top: 1px solid $greyCornerBg !important;

        span {
            margin-left: 12px;
        }
    }

    // Cancel the 12 px margin-left apply to all others span (cf line 43)
    tr > td:last-child span {
        margin-left: 0;
    }
}

.bottomContainer {
    font-size: 14px;
}

// Page count below the table
.pageCountBottom {
    color: $greyCorner3;
    margin: 6px 0 0 18px;
}

.contactsCount {
    color: $greyCorner3;
    margin: 6px auto;
}

// Navigation buttons below the table
.pageNav {
    margin-right: 18px;

    button {
        color: $greyCorner3;
        background-color: $whiteCorner;
        @include borderRadius(6px);
        margin-bottom: 12px;
    }
}

//****************************
// Style for filters
//****************************

// Reset button for filters
#filterButton {
    color: $blueCorner;
    height: 38px;
    background-color: $whiteCorner;
    @include borderRadius(6px);
    overflow: hidden;
    text-overflow: ellipsis;

    span {
        margin-right: 10px;
    }
}

// Container for filters (global search & reset) above the table
.aboveFilter,
.downloadLineCount {
    margin-bottom: 16px;
}
// Button to download the contacts selection
#downloadButton {
    margin-right: 10px;
}

// Number of line to display in table
.lineCount {
    padding: 0 12px;
}

#downloadButton,
.lineCount {
    color: $blueCorner;
    background-color: $whiteCorner;
    height: 38px;
    @include borderRadius(6px);
}
