.row-above-editor {
    color: $greyCorner3;
    font-family: "Poppins", sans-serif;
    background-color: $whiteCorner;
    @include borderRadius(6px);
}

.template-save-button,
.send-email-button {
    color: $whiteCorner;
    background-color: $blueCorner;
    height: 38px;
    @include borderRadius(6px);
    overflow: hidden;
    width: 100%;
}
