.little-card {
    padding: 16px;
}

.mail-title {
    font-size: 20px;
    font-weight: 700;
    color: $greyCorner3;
}

.main-info {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: $blueCorner;
}

.main-text {
    font-size: 16px;
    font-weight: 600;
    color: $blackCorner;
}

.secondary-text {
    font-size: 12px;
    font-weight: 400;
    color: $greyCorner3;
}
