.audience {
    flex: 1;
    padding: 20px;
    .parts {
        height: calc(100% - 40px);
        border: solid 2px black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .part {
            height: 100%;
            border: dashed 1px lightblue;
        }
    }
}