.audience {
    flex: 1;
    padding: 20px;
    background-color: green;
    .parts {
        height: calc(100% - 20px);
        background-color: greenyellow;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .part {
            background-color: greenyellow;
        }
    }
}