@import '../../../../style/main';

#globalFilter {
    font-family: "Poppins", sans-serif;
    color: $greyCorner3;
    background-color: $whiteCorner;
    border: none;
    font-weight: 500;
    font-size: 14px;
    width: 354px;
    height: 32px;
    padding: 8px 16px;
    margin: 20px 0 12px 0;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    outline: none;
}
