/* Let's highlight canvas boundaries */
#gjs {
    border: 3px solid #444;
}

.gjs-cv-canvas__frames {
    width: calc(100% - 300px);
    margin-left: 100px;
}

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
  }

  .gjs-cv-canvas {
      padding: 20px;
  }

  .gjs-pn-options {
      margin-right: 80px;
  }

  .gjs-pn-views-container {
      width: 200px;
  }

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
}

.panel__basic-actions {
    position: initial;
}

.gjs-pn-buttons {
    display: flex;
    justify-content: start;
}
