@import "../../../../style/main.scss";

#gjs {
    border: none;//3px solid #444;
}

.gjs-cv-canvas__frames {
    width: 600px;

    margin-left: 18%;
}

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: space-between;
}

.gjs-cv-canvas {
    padding: 20px;
}


.gjs-pn-options {
    margin-right: 80px;
}

.gjs-pn-views-container {
    width: 275px;
    margin-top: 41px;
    height: calc(100% - 45px);
}

.gjs-blocks-c {
    margin-top: -45px;
}

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: space-between;
}

.panel__basic-actions {
    position: initial;
}

.gjs-pn-buttons {
    display: flex;
    margin-bottom: -0.75px;
    justify-content: flex-start;
}

// Change background Color Of Editor
.gjs-one-bg {
//    background-color: #696969;
    background-color: #FFFFFF;
}

// Change Color of texte icones when not selected
.gjs-two-color {
    color: rgba(80, 71, 71, 0.808);
  }

// Change Color of texte icones when selected
.gjs-four-color,
.gjs-four-color-h:hover {
  color: rgb(0, 0, 0);
}
