@import "../../../style/main";

//**************************
// Style for table
//**************************

// Global style for Table container
.tableContainer {
    overflow: scroll;
}

// Style for table
.table {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: $whiteCorner;

    th {
        text-align: center;
        border-top: none !important;

        input,
        select {
            min-width: 7rem;
        }

        &:last-child {
            min-width: 30rem;
        }
    }

    td {
        max-width: 20rem;
        text-align: center;
    }
}

// Page count below the table
.pageCountBottom {
    color: $greyCorner3;
    margin: 0 0 12px 18px;
}

// Navigation buttons below the table
.pageNav {
    position: fixed;
    margin-top: 10px;
    bottom: 12px;
    right: 10px;

    button {
        font-family: "Poppins", sans-serif;
        color: $greyCorner3;
        background-color: $whiteCorner;
        border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        margin-bottom: 12px;
    }
}

.pageCountBottom,
.pageNav {
    @media (max-width: 768px) {
        text-align: center;
        justify-content: space-evenly;
    }
}

//****************************
// Style for filters
//****************************

// Reset button for filters
#filterButton {
    font-family: "Poppins", sans-serif;
    color: $blueCorner;
    height: 32px;
    margin: 4px 0 4px 4px;
    padding: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: $whiteCorner;

    span {
        padding: 10px;
    }

    i {
        padding: 3px;
    }

    @media (max-width: 768px) {
        display: block;
        margin: 4px 0px;
    }
}

// Container for filters (global search & reset) above the table
.aboveFilter {
    margin-left: 18px;
}

// Container for download button & select to choose the number of line
.downloadLineCount {
    margin: 19px 0 4px 18px;
}

// Button to download the contacts selection
#downloadButton {
    margin-right: 4px;
    padding: 0 16px;
}

// Number of line to display in table
.lineCount {
    padding: 0 12px;
}

#downloadButton,
.lineCount {
    font-family: "Poppins", sans-serif;
    color: $blueCorner;
    background-color: $whiteCorner;
    height: 32px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
