@import "../../../style/main";

//**************************
// Style for table
//**************************

// Global style for Table container
.tableContainer {
    overflow: scroll;
    font-family: "Poppins", sans-serif;
}

// Style for table
.table {
    @include borderRadius(16px);
    background-color: $whiteCorner;

    th {
        font-size: 12px;
        text-align: center;
        border: none !important;

        input,
        select {
            min-width: 7rem;
        }

        &:last-child {
            min-width: 30rem;
        }
    }

    td {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        max-width: 20rem;
        vertical-align: middle !important;
        border-top: 1px solid $greyCornerBg !important;

        span {
            margin-left: 12px;
        }
    }

    // Cancel the 12 px margin-left apply to all others span (cf line 43)
    tr > td:last-child span {
        margin-left: 0;
    }
}

.bottomContainer {
    font-size: 14px;
}

// Page count below the table
.pageCountBottom {
    color: $greyCorner3;
    margin: 6px 0 0 18px;
}

.contactsCount {
    color: $greyCorner3;
    margin: 6px auto;
}

// Navigation buttons below the table
.pageNav {
    margin-right: 18px;

    button {
        color: $greyCorner3;
        background-color: $whiteCorner;
        @include borderRadius(16px);
        margin-bottom: 12px;
    }
}

//****************************
// Style for filters
//****************************

// Reset button for filters
#filterButton {
    color: $blueCorner;
    height: 32px;
    margin: 4px 0 4px 4px;
    padding: 4px;
    @include borderRadius(16px);
    background-color: $whiteCorner;

    span {
        padding: 10px;
    }

    i {
        padding: 3px;
    }

    @media (max-width: 768px) {
        display: block;
        margin: 4px 0px;
    }
}

// Container for filters (global search & reset) above the table
.aboveFilter {
    margin-left: 18px;
}

// Container for download button & select to choose the number of line
.downloadLineCount {
    margin: 19px 0 4px 18px;
}

// Button to download the contacts selection
#downloadButton {
    margin-right: 4px;
    padding: 0 16px;
}

// Number of line to display in table
.lineCount {
    padding: 0 12px;
}

#downloadButton,
.lineCount {
    color: $blueCorner;
    background-color: $whiteCorner;
    height: 32px;
    @include borderRadius(16px);
}
