@import "../../../style/main";

//**************************
// Style for table
//**************************

// Global style for Table container
.tableContainer {
    overflow: scroll;
}

// Style for table
.table {
    border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    background-color: $whiteCorner;

    th {
        text-align: center;
        input,
        select {
            min-width: 7rem;
        }

        &:last-child {
            min-width: 30rem;
        }
    }

    td {
        max-width: 20rem;
        text-align: center;
    }
}

//****************************
// Style for filters
//****************************

// Reset button for filters
#filterButton {
    font-family: "Poppins", sans-serif;
    color: $blueCorner;
    height: 32px;
    margin: 4px 0 4px 4px;
    padding: 4px;
    border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    background-color: $whiteCorner;

    span {
        padding: 10px;
    }

    i {
        padding: 3px;
    }

    @media (max-width: 768px) {
        display: block;
    }
}
.aboveFilter {
    margin-left: 18px;
}

.downloadLineCount {
    margin: 19px 0 4px 18px;
}

#downloadButton {
    font-family: "Poppins", sans-serif;
    color: $blueCorner;
    background-color: $whiteCorner;
    height: 32px;
    margin-right: 4px;
    padding: 0 16px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

// Number of line to display in table
.lineCount {
    font-family: "Poppins", sans-serif;
    color: $blueCorner;
    background-color: $whiteCorner;
    height: 30px;
    padding: 0 12px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
