@import "../../../../style//main.scss";

.interestsBadge {
    color: $blueCorner;
    font-weight: normal;
    background-color: $greyBg;
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

span span:empty {
    display: hidden;
}
