@import '../../../../style//main.scss';

/*.badge span {
    padding: 4px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    background-color: $greyBg;
    color: $blueCorner;
}*/