.btn {
    &-dc {
        &-primary {
            color: $whiteCorner;
            background-color: $blueCorner;

            &:not(.disabled),
            &:not(:disabled) {
                &:hover{
                    color: $whiteCorner;
                }
            }
        }

        &-outline {
            &-primary {
                color: $blueCorner;
                border-color: $blueCorner;

                &:hover {
                    &:not(.disabled),
                    &:not(:disabled) {
                        color: $blueCorner;
                    }
                }
            }
        }
    }

    &.disabled,
    &:disabled {
        &:hover {
            cursor: not-allowed;
        }
    }
}
