@mixin borderRadius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
}

@mixin boxShadow() {
    box-shadow: 0 1px 1px 0 rgba(0, 11, 52, 0.12);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 11, 52, 0.12);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 11, 52, 0.12);
}

@mixin dc-container {
    @include borderRadius(6px);
    @include boxShadow();
}
