@mixin borderRadius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
}

@mixin boxShadow($value) {
    box-shadow: $value;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
}

@mixin dc-container {
    @include borderRadius(6px);
    @include boxShadow(0 1px 1px 0 rgba(0, 11, 52, 0.12));
}
