//********************************
// COLOR VARIABLES
//******************************** 


// White
$whiteCorner: #fff;

// Black
$blackCorner: #1A334D;

//Blue
$blueCorner: #0049C6;

// Grey
$greyCornerBg: #F0F1F3;
$greyCorner3: #717BA0;

// Green
$greenCorner: #008000;