// White
$whiteCorner: #fff;

// Black
$blackCorner: #1A334D;

//Blue
$blueCorner: #0049C6;
$messagerieButtonHover: #1f5bc2;

// Grey
$greyCornerBg: #F0F1F3;
$greyCorner3: #717BA0;
$greyCornerBorder: #D5E0EC;


// Green
$greenCorner: #008000;
