.button {
  cursor: pointer;
  outline: none;
  border: none;

  &-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &-drawer {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem 1rem;
    color: var(--color-gray-500);
    border-right: 1px solid var(--color-gray-200);

    &:focus {
      outline: none;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &-notification {
    outline: none;
    cursor: pointer;
    padding: 0.25rem;
    color: #94a3b8;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;

    &:hover {
      color: #64748b;
    }
  }

  &-link {
    background-color: transparent;
    padding: 0;
    display: inline-flex;
    color: $color-blue-500;
    font-size: 14px;
    font-weight: 500;

    &:focus {
      color: $color-blue-900;
    }
  }
}
