.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
}

.aside-navigation {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.5rem;

  > * + *	 {
    margin-top: 2rem;
  }

  .menu-group  > * + *	 {
    margin-top: 0.75rem;
  }
}

.menu-list {
  &__header {
    margin: 0;
    padding: 0 0.5rem;
    font-size: small;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $color-gray-700;
  }

  &__links {
    margin-top: 14px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: none;
  align-items: center;
  padding: .75rem 0;
  background-color: $color-white;

  @media screen and (min-width: 1024px) {
    display: block;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #e2e8f0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0%;
    padding: 0 1rem;
  }

  &-scope {
    display: flex;
    align-items: center;
    margin-left: 4px;

    @media screen and (min-width: 1024px) {
      margin-left: 6px;
    }

    .badge {
      display: none;

      @media screen and (min-width: 648px) {
        display: inline-flex;
      }
    }
  }

  .logo-large {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: 1024px) {
    padding: 0 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 2rem;
  }
}

.app-content {
  margin-top: 4rem;
  padding: 1.5rem 0;
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    margin-top: 0;
  }
}
