// Colors
$color-text: #1a334d;
$color-white: #fff;
$color-error: #f44336;

$color-blue-50: #F3F6FD;
$color-blue-100: #D2DFFB;
$color-blue-200: #A2BEF7;
$color-blue-500: #1254D8;
$color-blue-900: #09296A;

$color-gray-50: #f0f1f3;
$color-gray-100: #f1f5f9;
$color-gray-200: #e2e8f0;
$color-gray-300: #cbd5e1;
$color-gray-400: #94a3b8;
$color-gray-500: #64748b;
$color-gray-600: #475569;
$color-gray-700: #334155;
$color-gray-800: #1e293b;
$color-gray-900: #0f172a;