@import '~bootstrap/scss/bootstrap';
@import '~leaflet/dist/leaflet.css';
@import "helpers";
@import "DOMElements";
@import "components";

body {
    color: $blackCorner;
    background-color: $greyCornerBg;

    ul {
        list-style: none;
    }
}
