@import "../helpers/fonts";
@import "../helpers/variables";

select,
input {
    background-color: $greyBg;
    padding: 6px 12px;
    border: none;
    outline: none;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;

    option {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}
