body {
    font-family: "Poppins", sans-serif;
}

select,
input {
    padding: 6px 12px;
    border: none;
    outline: none;
    @include borderRadius(6px);

    option {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}

// Add box-shadow and border-radius
.dc-container {
    @include dc-container();
}

// Add white background color
.with-background {
    background-color: $whiteCorner !important;
}

// Bubble with number inside above chart on Vue d'ensemble page
.count-bubble {
    color: $blueCorner;
    font-weight: 600;
    font-size: 18px;
    background-color: $blueBubble;
    padding: 8px;
    @include borderRadius(6px);
}

// Title above chart on Vue d'ensemble page
.chart-title {
    color: $blackCorner;
    font-weight: 600;
}

// Subtitle above chart on Vue d'ensemble page
.chart-subtitle {
    color: $greyCorner3;
    font-size:12px;
    font-weight: 400;
}

// legend below chart on Vue d'ensemble page
.legend-chart {
    font-size: 12px;
    font-weight: 400;
    margin: 16px 16px 16px 32px;
}

.chart-error {
    padding: 6px;
}
