body {
    font-family: "Poppins", sans-serif;
}

select,
input {
    padding: 6px 12px;
    border: none;
    outline: none;
    @include borderRadius(6px);

    option {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}

.dc-container {
    @include dc-container();
}

.count-bubble {
    color: $blueCorner;
    font-weight: 600;
    font-size: 18px;
    background-color: $blueBubble;
    padding: 8px;
    @include borderRadius(6px);
}

.chart-title {
    color: $blackCorner;
    font-weight: 600;
    margin-left: 8px;
}

.chart-subtitle {
    color: $greyCorner3;
    font-size:12px;
    font-weight: 400;
    margin-left: 8px;
}

.legend-chart {
    color: $blueCorner;
    font-size: 12px;
    font-weight: 400;
    margin: 16px 16px 16px 32px;
}
