name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '25 16 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v9
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Stale issue messageContainer'
        stale-pr-message: 'Stale pull request messageContainer'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
