name: Test, lint, performance checks

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test, lint, performance checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Restore node_modules from cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - name: Install project
        run: yarn

      - name: Run linter
        run: yarn lint
